@import '../theme';

.home-flex {
    @include flash-red;
    background: linear-gradient(rgba(0,0,0,.6),rgba(255,127,67,.6)), url(1getoffmars.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    color: white;


    .circle-pulse {
        position: relative;
        bottom: 100px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        animation: pulsate 1s infinite;
    }

    h1, h2 {
        padding: 15%;
        font-weight: 100;
        text-align: center;
    }

    h1 {
        text-transform: uppercase;
        height: auto;
    }

}

